// colors
$primary-color:             #424242;
$primary-color-dark:        #1b1b1b;
$primary-color-light:       #6d6d6d;
$secondary-color:           #81d4fa;
$secondary-color-dark:      #4ba3c7;
$secondary-color-light:     #b6ffff;
$text-color-black:          #242a2b;
$text-color-on-primary:     #edf0f2;
$text-color-on-secondary:   #e0f7fa;
$accent-color:              #4CAF50;
$divider-color:             #BDBDBD;
$divider-color-light:       #D1D1D1;
$error-color-dark:          #C62828;
$error-color:               #F44336;
$success-color-dark:        #2E7D32;
$success-color:             #4CAF50;

// screen size
$break-small: 768px;
$break-middle: 992px;
$break-large: 1200px;
$break-ex-large: 1500px;